Source: trantect-lvm-util
Section: utils
Priority: extra
Maintainer: xiaobo <xiaobo.fei@trantect.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2

Package: trantect-lvm-util
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},sed(>=4.2.1-1), gawk(>=1:4.0.1), lzop(>=1.03), partclone(>=0.2.49),ntfs-3g(>=1:2012.1.15AR.5), util-linux(>=2.20.1-5.1)
Description: Lvm backup tool from Trantect
   LVM backup tool from Trantect
