Package: trantect-backup
Version: 1.0.0-1
Architecture: amd64
Maintainer: developer <developer@icm@backupninja.com>
Installed-Size: 48
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
